In [1]:
import numpy as np

Q1 Let x = np.arange(4, dtype=np.int64). Create an array of ones with the same shape and type as X.

Q2 Let X = np.array([[1, 2], [3, 4]]). Convert it into a matrix.

Q3 Create a 1-D array of 50 evenly spaced elements between 3. and 10., inclusive.

Q4 Let x be array [[1, 2, 3], [4, 5, 6]]. Convert it to [1 4 2 5 3 6].

Q5 Let x be an array [1, 2, 3, ..., 9]. Split x into 3 arrays, each of which has 4, 2, and 3 elements in the original order.

 Q6 Compute the inverse and primary diagnol sum of x=[[1,2],[3,4]]

Q7 Sort x along the second axis. x = [[1,4],[3,1]]

Q8 Get the indices that would sort x(as above) along the second axis.

Initiate x as a 2x5 array with random values from 0 to 10(not inclusive).Get the maximum and minimum values and their indices of x along the second axis.

Run the following load command to get the 2-Dim iris dataset. Do the following operations on it.

In [28]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

Drop rows that contain a missing value.

Find the correlation between first two columns.

Find the mean,median and standard deviation of column 3.

Create a new column for volume in iris_2d, where volume is (pi x petallength x sepal_length^2)/3

Run the following loaad command and solve the following questions

In [52]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

Find the count of unique species.

Bin the petal length (3rd) column of iris_2d to form a text array, such that if petal length is:
Less than 3 –> ‘small’
3-5 –> ‘medium’
‘>=5 –> ‘large’

Find the most frequent value of petal length (3rd column) in iris dataset